[core]
  ignorecase = false

{{ if .git.includes -}}
  {{- $hasPrivate := false -}}
  {{- range .git.includes -}}
    {{- if hasKey . "private" -}}
      {{- $hasPrivate = true -}}
    {{- end -}}
  {{- end -}}

  {{- if $hasPrivate -}}
  [include]
    path = ~/.config/git/private.gitconfig
  {{- end }}
  {{ range .git.includes }}
    {{- range $id, $config := . }}
    [includeIf "gitdir:{{ $config.path }}/.git"]
      path = ~/.config/git/{{ $id }}.gitconfig
    {{ end }}
  {{- end -}}
{{- end }}

[alias]
  s = status -sb
  l = log --oneline --graph --decorate -20

[core]
  excludesfile = ~/.gitignore
  {{- if lookPath "delta" }}
  pager = delta
  {{ end -}}

{{- if lookPath "delta" }}
[delta]
  side-by-side = true
  line-numbers = true
{{ end -}}

[diff]
  algorithm = histogram

[init]
  defaultBranch = main

[push]
  autoSetupRemote = true

[user]
  name = {{ .user.name | quote }}
  email = {{ .user.email | quote }}
