{{- if lookPath "brew" -}}
#!/bin/bash

export HOMEBREW_NO_ENV_HINTS=1

{{- if (dig "utils" "terraform" false .) }}
if ! brew trust | grep -q "terraform-linters/tap/tflint"; then
    echo "Tap/Cask is not trusted. Requesting trust for tflint..."
    brew trust --cask terraform-linters/tap/tflint
fi
{{- end }}

# Install packages
brew bundle --file=/dev/stdin <<EOF
{{ if eq .chezmoi.os "darwin" -}}
brew "container"
brew "direnv"
brew "eza"
brew "fzf"
brew "gh"
brew "git-delta"
brew "gitleaks"
brew "htop"
brew "mise"
brew "neovim"
brew "npm"
brew "pre-commit"
brew "pwgen"
brew "starship"
brew "tree"
brew "trivy"
brew "uv"
brew "yq"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
cask "bitwarden"
cask "discord"
cask "font-monaspace"
cask "font-monaspace-var"
cask "ghostty"
cask "obsidian"
{{- if (dig "utils" "ai" false .) }}
brew "aider"
cask "copilot-cli"
cask "github-copilot-app"
brew "opencode"
cask "opencode-desktop"
brew "mlx"
brew "mlx-lm"
brew "rtk"
{{- end }}
{{- if (dig "utils" "azure" false .) }}
brew "azure-cli"
{{- end }}
{{- if (dig "utils" "kubernetes" false .) }}
brew "k9s"
brew "kubectl"
brew "lima"
{{- end }}
{{- if (dig "utils" "microsoft" false .) }}
cask "onedrive"
cask "microsoft-outlook"
cask "microsoft-teams"
cask "visual-studio-code"
{{- end }}
{{- if (dig "utils" "terraform" false .) }}
brew "terraform-docs"
brew "tenv"
cask "tflint"
{{- end }}
{{- if (dig "utils" "wireguard" false .) }}
brew "wireguard-tools"
{{- end }}
{{ end -}}
EOF

brew completions link
{{ end -}}
